.projects{
    width: 90%;
    padding-top: 100px;
    margin: auto;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
}

.project-card{
    width: 450px;
    height: 100%;
    margin-bottom: 100px;
}

.project-card img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-bottom: 25px;
}

.project-card h1{
    margin-bottom: 10px;
}

.live,
.code{
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.live{
    margin-top: 20px;
    width: 200px;
    height: 55px;
    background-color: salmon;
    color: black;
}

.code{
    margin-top: 10px;
    width: 150px;
    height: 55px;
    background-color: #222831;
    color: white;
}

.live:hover,
.code:hover{
    box-shadow: rgb(184, 184, 184) 0px 0px 2px 2px;
}

.projects h3{
    text-align: center;
    margin-bottom: 100px;
}

.projects a{
    color: salmon;
    text-decoration: none;
}

.projects a:visited{
    color: salmon;
}